[user]
	name = Cameron S. Williamson
	email = therealkey@outlook.com
[core]
	editor = nvim
[pull]
	rebase = true
[fetch]
    prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
[alias]
    s = status -sb
    st = status
    a = add
    l = log --oneline
    last = log -1 HEAD --stat
    cm = commit -m
    d = diff
    dv = difftool -t vimdiff -y
    gl = config --global -l
    cl = clean -Xdf
    ca = commit --amend --no-edit
    p = push
    pf = push --force-with-lease
	rbc = rebase --continue
	rba = rebase --abort
[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false
